<ul id="breadcrumb">
    <li><a href="#"><span class="icon glyphicon glyphicon-home"> </span>Home</a></li>
    {{#route}}
        <li><a href="#{{url}}"><span class="icon icon-beaker"> </span> {{text}}</a></li>
    {{/route}}  
</ul>