<h3 class="text-muted">Select Project</h3>
<div class="list-group">
    {{#projects}}
    <a href="#{{name}}" class="list-group-item project-button">{{name}}</a>
    {{/projects}}  
    <a href="#" class="list-group-item add-new-project"><span class="glyphicon glyphicon-plus-sign"></span>Add new</a>
</div>
